     :host {
          ion-content {
            --background:none;
            background:url('../../assets/bg_tela_03_fundo.jpg');
            background-size: cover;
            background-position: center center;
          }
        }

        .itemImg {
          height: 200px;
          background-size: cover;
          bottom: 25px;
        }

        .style-input{
          display:block;
          margin-bottom:10px;
          padding: 5px 5px;
          border-radius: 30px;
          border: none;
          box-sizing: border-box;
          width:100%;
          background: white
        }

        .style-btn{
          width:160px; 
          display:block;
          padding: 5px 5px;
          border-radius: 30px;
          border:none;
          margin: 0 auto;
          background: #f29200;
          color: white;
        }

   

