<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mercado">
      <ion-icon src="../../assets/shopping-basket.svg"></ion-icon>
      <ion-label>Mercado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alimentacao">
      <ion-icon src="../../assets/bowl-with-vegetables.svg"></ion-icon>
      <ion-label>Alimentação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quiz">
      <ion-icon src="../../assets/conversation-questions.svg"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="../../assets/house-black-silhouette-without-door.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

  

</ion-tabs>
