<ion-content padding>
  
  <br> 
          <ion-row>
            <ion-col >
              <h1 class="ion-text-center">
              <img [src]="titleImage" class="item-title">
              </h1>
            </ion-col>
          </ion-row>
 
    

  <ion-row class="response">
    
    <ion-col *ngFor="let item of arrayTemp" size="6" class="itemImg" >
      <img [src]="item.imgUrl"(click)="escolheAlimento()" [alt]="item.name" class="img-fluid" >
    </ion-col>

    
  
  </ion-row>

  



</ion-content>

