:host {
    ion-content {
      --background:none;
      background:url('../../assets/bg_tela_quiz.jpg');
      background-size: cover;
      background-position: center center;
    }
  }


  .item-robin{
    height: 160px;
    
  }

  .response {
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
  }

  .itemImg {
    height: 90px;
  }

  .item {
    height: 70px;
  }

  .flip {
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 30px;
  }

  
  

.item-title{
  height: 100px;
}