:host {
    ion-content {
      --background:none;
      background:url('../../assets/bg_tela_inicial.jpg');
      background-size: cover;
      background-position: center center;
    }
  }

  .wobble{
    height: 200px;
    
    
  }

  .item-title{
    height: 100px;
  }
  