:host {
    ion-content {
      --background:none;
      background:url('../../assets/bg_tela_final.jpg');
      background-size: cover;
      background-position: center center;
    }
  }

  .wobble{
    height: 160px;
    display:block;
    margin: 0 auto;
    position: absolute;
    top: 170px;
    left: 40%;
  }

  .item-title{
    height: 90px;
  }
  