:host{
ion-content {

    --background: none;
     background: url('../../assets/bg_feira.jpg');
     background-size: cover;
     background-position: center center;
    }
}

.style-text{

    color: yellow;
    font-weight: 900;

}


.responseStart {
  position: absolute;
  left: 0;
  width: 100%;
  top: 120px;
}

.response {
    position: absolute;
    left: 0;
    width: 100%;
    top: 260px;
  }

  .responseEnd {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    
  }

  .item {
    height: 60px;
  }

  .img-fluid {
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .style-badge{

    
    color: yellow;
    font-size: 25px;
    font-weight: 900;
    

  }