:host{
ion-content {

    --background: none;
     background: url('../../assets/bg_feira.jpg');
     background-size: cover;
     background-position-y: 20%;
    }
}



ion-badge{
  --position: none;
}
.style-text{

    color: yellow;
    font-weight: 900;
   

}


.responseStart {
  position: absolute;
  left: 0;
  width: 100%;
  top: 140px;
}

.response {
    position: absolute;
    left: 0;
    width: 100%;
    top: 280px;
  }

  .responseEnd {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    
  }

  .item {
    height: 60px !important;
  }

  .fadeInUpBig {
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .rubberBand{
    color: yellow;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    top:60px;
    left: 300px;
  
  }

  .item-title{
    height: 70px;
  }

  .position-badge{
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
  }

  .style-btn{
    width:160px; 
    display:block;
    border-radius: 30px;
    border:none;
    margin: 0 auto;
    background: #f29200;
    color: white;
    position: absolute;
    top: 380px;
    left: 26%;
  }