<ion-content>
    <ion-row  >
        <ion-col >
            <ion-badge class="style-badge" [(ngModel)]="contBadge"  >{{contBadge}}</ion-badge>            
        </ion-col>
    </ion-row>    
    <ion-row>
        <ion-col >
            <h1 class="ion-text-center">
                 <img [src]="titleImage" class="item-title">
            </h1>
        </ion-col>
    </ion-row>

    <ion-row class="responseStart">
            <ion-col *ngFor="let item of arrayImages1" size="4" class="item">
                <img [src]="item.imgUrl"(click)="comprar()" [alt]="item.name" class="img-fluid" >
            </ion-col>
    </ion-row>

    <ion-row class="response">
        <ion-col *ngFor="let item of arrayImages2" size="4" class="item">
            <img [src]="item.imgUrl"(click)="comprar()" [alt]="item.name" class="img-fluid" >
        </ion-col>
    </ion-row>

    <ion-row class="responseEnd">
            <ion-col *ngFor="let item of arrayImages3" size="4" class="item">
                <img [src]="item.imgUrl"(click)="comprar()" [alt]="item.name" class="img-fluid" >
            </ion-col>
    </ion-row>
    
    <ion-row>
       <ion-col>   
        <ion-button class="style-btn" (click)="btnContinuar()" > Continuar </ion-button>     
       </ion-col>
    </ion-row>
    
    





</ion-content>
