
    :host {
        ion-content {
          --background:none;
          background:url('../../assets/bg_tela_03_almoco.jpg');
          background-size: cover;
          background-position: center center;
        }
      }

      .response {
        position: absolute;
        bottom: 100px;
        left: 0;
        width: 100%;
      }

      .item {
        height: 60px;
      }

      .img-fluid {
        height: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .style-btn{
        width:160px; 
        display:block;
        padding: 5px 5px;
        border-radius: 30px;
        border:none;
        margin: 0 auto;
        background: #f29200;
        color: white;
        position: absolute;
        top: 167px;
        left: 26%;
      }
    
      .item-robin{
        height: 160px;
        
      }

      .item-title{
        height: 70px;
      }
      