<ion-content>
 <ion-button shape="round" color="warning" href="/tabs/cafedamanha" > Café da Manhã  </ion-button><br>
 <ion-button shape="round" color="warning" href="/tabs/colacao-i"> Lanche da manhã  </ion-button><br>
 <ion-button shape="round" color="warning" href="/tabs/almoco"> Almoço </ion-button><br>
 <ion-button shape="round" color="warning" href="/tabs/colacao-ii"> Lanche da tarde  </ion-button><br>
 <ion-button shape="round" color="warning"href="/tabs/jantar"> Jantar  </ion-button><br>
</ion-content>
